<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <!--  mapper위치, Alias설정 -->

 <configuration>	
 	<typeAliases>
 		<typeAlias type="member.model.dto.MemberDTO" alias="memberDTO"/>
 		<typeAlias type="budget.model.dto.TotalBudgetDTO" alias="totalBudgetDTO"/>
 		<typeAlias type="budget.model.dto.TotalBudgetDetailDTO" alias="totalBudgetDetailDTO"/>
 		<typeAlias type="budget.model.dto.LeftMoneyDTO" alias="leftMoneyDTO"/>
 		<typeAlias type="budget.model.dto.RecordTransferDTO" alias="recordTransferDTO"/>
 		<typeAlias type="budget.model.dto.RecordGoalsDTO" alias="recordGoalsDTO"/>
 		<typeAlias type="category.model.dto.outcome_categoryDTO" alias="outcome_categoryDTO"/>
 		<typeAlias type="category.model.dto.income_categoryDTO" alias="income_categoryDTO"/>
 		<typeAlias type="goals.model.dto.GoalsDTO" alias="goalsDTO"/>
 		<typeAlias type="team.model.dto.TeamDTO" alias="teamDTO"/>
 		<typeAlias type="team.model.dto.TeamMemberDTO" alias="teamMemberDTO"/>
 		<typeAlias type="budget.model.dto.BudgetDTO" alias="budgetDTO"/>
 		<typeAlias type="budget.model.dto.BudgetDetailDTO" alias="budgetDetailDTO"/>
 		<typeAlias type="budget.model.dto.NoBudgetDTO" alias="noBudgetDTO"/>
 		<typeAlias type="budget.model.dto.NoBudgetDetailDTO" alias="noBudgetDetailDTO"/>
 		<typeAlias type="budget.model.dto.RecordPageDTO" alias="recordPageDTO"/>
 		<typeAlias type="budget.model.dto.SearchForRecordDTO" alias="searchForRecordDTO"/>
 		<typeAlias type="budget.model.dto.AllRecordDTO" alias="allRecordDTO"/>
 		<typeAlias type="budget.model.dto.TodayBudgetDTO" alias="todayBudgetDTO"/>
		<typeAlias type="ranking.model.dto.RecordRankDTO" alias="recordRankDTO"/>
 		<typeAlias type="ranking.model.dto.TotalRankDTO" alias="totalRankDTO"/>

 	</typeAliases>
 	
 	<mappers>
		<mapper resource="/sql/goalsSQL.xml"/>	
 		<mapper resource="/sql/memberSQL.xml"	/>
 		<mapper resource="/sql/adminSQL.xml" />
 		<mapper resource="/sql/categorySQL.xml" />
 		<mapper resource="/sql/leftMoneySQL.xml" />
 		<mapper resource="/sql/recordGoalsSQL.xml" />
 		<mapper resource="/sql/teamSQL.xml" />
 		<mapper resource="/sql/totalBudgetSQL.xml" />
 	 	<mapper resource="/sql/totalBudgetDetailSQL.xml" />
 		<mapper resource="/sql/teamMemberSQL.xml"/>
 		<mapper resource="/sql/recordTransferSQL.xml"/>
 		<mapper resource="/sql/recordSQL.xml"/>
 		<mapper resource="/sql/reportSQL.xml"/>
 		<mapper resource="/sql/calendarSQL.xml" />
 		<mapper resource="/sql/recordRankSQL.xml" />
 		<mapper resource="/sql/totalRankSQL.xml" />
  	</mappers>

 </configuration>