<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <!--  mapper위치, Alias설정 -->
 <configuration>
 	<typeAliases>
 		<typeAlias type="member.model.dto.MemberDTO" alias="memberDTO"/>
 	</typeAliases>
 	<mappers>
 		<mapper resource="/sql/testSQL.xml"	/>

 		<mapper resource="/sql/memberSQL.xml"	/>

 	</mappers>
 </configuration>