<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <!--  mapper위치, Alias설정 -->
 <configuration>
 	<typeAliases>
 		<typeAlias type="member.model.dto.MemberDTO" alias="memberDTO"/>
 		<typeAlias type="category.model.dto.outcome_categoryDTO" alias="outcome_categoryDTO"/>
 		<typeAlias type="goals.model.dto.GoalsDTO" alias="goalsDTO"/>
 		<typeAlias type="team.model.dto.TeamDTO" alias="teamDTO"/>
 	</typeAliases>
 	<mappers>
		<mapper resource="/sql/goalsSQL.xml"/>	
 		<mapper resource="/sql/memberSQL.xml"	/>
 		<mapper resource="/sql/adminSQL.xml" />
 		<mapper resource="/sql/categorySQL.xml" />
 		<mapper resource="/sql/teamSQL.xml" />
  	</mappers>

 </configuration>